<!-- templates/base.html -->
{{define "base"}}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{template "title" .}} - Testing Testing Testing</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f7f7f7;
            text-align: center;
            margin: 50px;
        }

        h1, h2 {
            color: #322efe;
        }

        p {
            color: #810909;
        }
    </style>
</head>
<body>
  <!--  <h1>{{.CompanyName}}</h1>   --> 
   <!-- <h2>{{.Title}}</h2>    --> 
  {{template "content" .}} 
<footer style="margin-top: 20px;">
    <p>&copy; <script>document.write(new Date().getFullYear())</script> Daniel Ola-Olorun. All rights reserved.</p>
</footer>
</body>
</html>
{{end}}
