<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated Privacy Policy</title>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f9f9f9;
            text-align: center;
            margin: 50px;
            line-height: 1.6;
            color: #333;
        }

        h2 {
            color: #2c3e50;
            font-size: 28px;
            margin-bottom: 20px;
        }

        main {
            max-width: 800px;
            margin: 0 auto;
            text-align: left;
        }

        p {
            margin-bottom: 20px;
            font-size: 16px;
        }

        a {
            color: #3498db;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        div.container {
            background-color: #ffffff;
            border-radius: 8px;
            padding: 20px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        div.links {
            margin-top: 20px;
            display: flex;
            justify-content: space-between;
        }

        div.links a {
            padding: 10px 20px;
            background-color: #3498db;
            color: #fff;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        div.links a:hover {
            background-color: #2980b9;
        }

        footer {
            margin-top: 20px;
            color: #777;
        }
    </style>
</head>
<body>
    <div>
   <!-- <h1>Generated Privacy Policy:</h1> -->
    <h2><span style="text-transform:uppercase">{{.SelectedPolicy}}</span> Compliant Privacy Policy </h2>
</div>
    <div>
    {{.OpenAIContent }}
   </div>
        <!-- Free Display link Section -->
        <div style="margin-top: 20px;">
            <p><a href="/get-link?policyType={{.SelectedPolicy}}&lastInsertID={{.LastInsertID}}" target="_blank">Get Unique Link</a></p>
        </div>
        <!-- PDF Download Section -->
        <div style="margin-top: 20px;">
        <!--   <h3>Download PDF</h3> -->
            <p><a href="/download-pdf?policyType={{.SelectedPolicy}}&lastInsertID={{.LastInsertID}}" target="_blank">Download PDF Version</a></p>
        </div>
    <footer style="margin-top: 20px;">
        <p>&copy; <script>document.write(new Date().getFullYear())</script> Daniel Ola-Olorun. All rights reserved.</p>
    </footer>
</body>
</html>